@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at 50% 0%,hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: top !important;
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    padding: 15px 20px;
    margin-top: 40px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.box .text{
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    line-height: 29px;
}
.box .score{
    width: 120px;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
}
.score-txt{
    text-transform: uppercase;
    color: hsl(229, 64%, 46%);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
}
.score-num{
    font-size: 48px;
    color: hsl(217, 16%, 45%);
}

.sign{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
    border-radius: 50%;
    border: 18px solid;
    margin-bottom: 30px;
    cursor: pointer;
}
.thick-border{
    border: 24px solid ;
}
.paper{
    border-color: hsl(230, 89%, 62%) !important;
    box-shadow: inset 0px 6px hsla(230, 89%, 65%, 0.6),
    0px 6px hsla(230, 89%, 65%, 0.4);
}
.rock{
    border-color: hsl(349, 71%, 52%) !important;
    box-shadow: inset 0px 4px hsla(349, 70%, 56%, 0.6),
    0px 4px hsla(349, 70%, 56%, 0.4);
    margin: 0 auto;
}
.scissor{
    border-color: hsl(39, 89%, 49%) !important;
    box-shadow: inset 0px 6px hsla(40, 84%, 53%,0.6),
    0px 6px hsla(40, 84%, 53%,0.4);
}

.signs{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}
.signs::after{
    content: '';
    background: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 70%;
    height: 70%;
    top: 60px;
    left: 60px;
    z-index: -1;
}

#step2{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    margin-top: 30px;
}
.circle{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    /* border: 18px solid ; */
    margin-bottom: 30px;
   
}
.circle img{
    width: 40%;
}
.small-circle{
    border-color: hsla(214, 47%, 23%, 0.657);
}
.black{
    background-color: #1a19195e;
    width: 200px;
    height: 200px;
}
.flex p{
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.flex>div{
    margin: 0px 40px;
}

#result{
    margin: 0px 60px;
    /* width: 100px; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#result p{
    font-size: 44px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -10px;
}
.play-again{
    padding: 8px 40px;
    border-radius: 3px;
    font-size: 15px;
    border: none;
    color: hsl(349, 71%, 52%);
    
}

/* #compSelection{
    animation: shadow 5s infinite;
    /* box-shadow: 0px 0px 0px 40px hsl(349, 71%, 52%),
    0px 0px 0px 85px #0000003e,
    0px 0px 0px 135px #0000002f; 
}*/
/*
@keyframes shadow {
    25%{
        box-shadow: 0px 0px 0px 40px hsl(39, 89%, 49%),
        0px 0px 0px 85px hsl(349, 71%, 52%),
        0px 0px 0px 135px hsl(230, 89%, 62%); 
    }
    50%{
        box-shadow: 0px 0px 0px 40px hsl(230, 89%, 62%),
    0px 0px 0px 85px hsl(39, 89%, 49%),
    0px 0px 0px 135px hsl(349, 71%, 52%); 
    }
    75%{
        box-shadow: 0px 0px 0px 40px hsl(349, 71%, 52%),
    0px 0px 0px 85px hsl(230, 89%, 62%),
    0px 0px 0px 135px hsl(39, 89%, 49%); 
    }
    100%{
        box-shadow: 0px 0px 0px 40px hsl(39, 89%, 49%),
        0px 0px 0px 85px hsl(349, 71%, 52%),
        0px 0px 0px 135px hsl(230, 89%, 62%); 
    }
    

}*/


